@layer theme, base, components, utilities;

/* no preflight for now */
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

/* used by Spinner component */
.animate-spin-delayed {
  opacity: 0;
  animation:
    spin 1s linear infinite,
    fadeIn 200ms ease-out 500ms forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
